.app-container {
  width: 350px;
  padding: 2rem;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
}

.app-container h1 {
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 1.5rem;
}

input {
  flex: 1;
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: white;
  color: #4facfe;
  font-weight: bold;
  transition: 0.3s ease;
}

button:hover {
  background-color: #e0e0e0;
}

.weather-info h2 {
  margin-bottom: 0.5rem;
}

.weather-info p {
  margin: 5px 0;
}